@import url(https://fonts.googleapis.com/css?family=Imperial+Script);
@import url(https://fonts.googleapis.com/css?family=DM+Serif+Text);

body {
    margin: 0%;
    background-color: #D9BF73;
}


header {
    display: inline;
    background-color: black;

}

.logo {
    width: 50%;
}

nav {
    display: inline;
    float: right;
    background-color: black;
}

a {
    font-size: 35px;
    font-family: 'Imperial Script';
    padding-top: 50px;
    margin-right: 160px;
    text-decoration: none;
    color: white;
}

aside {
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 30px;
    width: 250px;
    font-size: 20px;
    margin-left: 75px;
    background-color: #593202;
    color: white;
    margin-top: 50px;
    display: inline-block;

}

.main_image {
    width: 900px;
    margin-top: 50px;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 50px
    ;
}