@import url(https://fonts.googleapis.com/css?family=Imperial+Script);
@import url(https://fonts.googleapis.com/css?family=DM+Serif+Text);

body {
    margin: 0%;
}


header {
    display: inline;
    background-color: black;

}

.logo {
    width: 25%;
}

nav {
    display: inline;
    float: right;
    background-color: black;
}

a {

    font-size: 35px;
    font-family: 'Imperial Script';
    margin-left: 80px;
    text-decoration: none;
    color: white;
}

aside {
    padding-left: 50px;
    padding-right: 100px;
    padding-top: 30px;
    padding-bottom: 150px;
    width: 300px;
    font-size: 25px;
    margin-left: 75px;
    background-color: #593202;
    color: white;
    margin-top: 50px;
    display: inline-block;

}

.chocolate {
    width: 800px;
}
